body {
    background-color: brown !important;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card {
    display: flex;
    width: 30rem;
}

.quiz-card {}

.card {}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


/* Overlay */

.overlay {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: absolute;
}

.d-none {
    display: none;
}